DATABASE_URL="postgresql://postgresuser:postgrespassword@localhost:5432/postgres"

# DEV|PROD 
APPLICATION_MODE=DEV
SERVER_PORT=8080
OPENNODE_API_URL=https://api.opennode.com
OPENNODE_API_KEY=
CALLBACK_URL=